<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <form id="form" action="" method="post">
            <h1>Login</h1>
            <hr>
            <input type="email" placeholder="Enter Email Address">
            <input type="password" placeholder="Enter Password">
            <button>Login</button>
        </form>
    </div>
</body>
</html>